<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:h="http://xmlns.jcp.org/jsf/html"
            xmlns:p="http://primefaces.org/ui"
            xml:lang="en" lang="en">
<h:head>
    <title>Index</title>
</h:head>
<body>
<h:form onsubmit="this.action='#{request.contextPath}/logout';"
        class="logout-form">
    <h:outputText value="Beléptetve!"/>
    <br/>
    <p:commandButton value="Kilépés" ajax="false"/>
</h:form>
</body>
</html>